
h1{

  text-align: center;
}
h2{
  text-align: center;
  color: white;
}
p {
  display: block;
  padding-left: 10%;
  padding-right: 10%;
  animation-duration: 3s;
  animation-name: slidein;
}

h3 {
  text-align: center;
}
h4 {
  margin-bottom: 10%;
}
h5 {
  margin-bottom: 20%;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slide-up {
  from {
    margin-top: 100%;
    height: 300%; 
  }

  to {
    margin-top: 0%;
    height: 100%;
  }
}

#heading{
  text-align: center;
}

body{
  margin: auto;
  /* font-family: 'Ubuntu', sans-serif; */
  background-color: #cccccc;
}

header {
  background-color: #333;
}

nav{
  display: flex;
  flex-direction: column;
}

nav ul{
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: flex;
  flex-direction: column;
}

nav a{
  display: block;
  color: orange;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}

nav li:hover{
  background-color: gray;
  text-decoration: underline;
}

.current{
  text-shadow: 1px 1px red;
}

a.skip {
  background: #fff;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  -o-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

a.skip:focus {
  top:20px;
  color: #000;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
}
*:focus {
  border: 2px solid black;
}

.index-navcontainer {
  display: flex;
  flex-direction: column;
}

.index-container {
  grid-column: 1 / -1;
  grid-row: 3 / span 1;
  width:auto;
  padding: 50px;
  background-color: white;
  border-bottom: 2px solid white;
}

.header-container {
  grid-column: 1 / -1;
  grid-row: 2 / span 2;
}

#parallax {
display: inline-block;
height: 75%;                
width: 100%;
background-attachment: fixed; 
background-image: url("../images/background.jpg");
background-position: center;  
background-size: cover;       
margin: 0 auto;
}

header {
  display: flex;
  justify-content: center;
}

header p{
  color: white;
  font-size: 24px;
  padding: 50px 50px;
  margin-bottom: 20%;
  text-align: center;
  margin: auto;
}

.transbox {
  display: inline-block;
  background: rgba(3, 3, 3, 0.7);
  height: 500px;
  width: 100%;
}



.gallery-header1 {
    justify-content: center;
    align-self: center;
    padding: 30px;
}

img {
  height: auto;
  width: 100%;
}

.images-flexbox {
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}

html{
  scroll-behavior: smooth;
}

.accordion {
  background-color: rgb(150, 141, 141);
  color: #444444;
  width: 100%;
  height: 100px;
  font-size:32px;
  transition: 1s;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-in-out;
}

footer{
  display: inline-block;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  color: white;
  background-color: black;
  font-size: 30px;
  text-align: left;
  padding-top: 0px;
  padding-bottom: 0px;
  grid-column: 1 / -1;
  grid-row: 3 / span 3;
}

.grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(1, auto);
  background-color: black;
  justify-content: center;
  align-content: center;
}

/* Play page styling */
.container {
  display: grid;
  grid-template-columns: repeat(1, auto);
  justify-content: center;
}

.play-card {
  width: 200px;
  height: 400px;
  background-color: #000;  
  margin: 50px;
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.play-card:focus .card-inner {
  transform: rotateY(180deg);
}
/* hover state */
.play-card:hover .card-inner {
  filter: opacity(0.5)
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-front {
  background-color: #000;
  color: #fff;
}

.card-back {
  background-color: #000;
  color: #fff;
  transform: rotateY(180deg);
  vertical-align: middle;
  line-height: normal
}

.card-back h1, .card-back p {
  padding-top: 40px;
}

.play-card img {
  width: 200px;
  height: 400px;
  background-color: #2a2a2a;
}

#heading {
  font-family: 'Raleway', 'sans-serif';
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 2rem;
  text-align: center;
}

@media screen and (min-width:0px) and (max-width:375px){
  /* body{
      background-color: yellow;
  } */

  
  /* ABOUT PAGE */
  .aboutphoto{
      /* background-color: blue; */
      display: inline-block;
      width: 70%;
      margin-left: 15%;
  }

  
}

@media screen and (min-width: 550px) {
  header{
    display: flex;
    justify-content: flex-start;
  }

  .grid-container {
    grid-template-columns: repeat(2,auto);
  }
  
  nav ul{
    display: flex;
    flex-direction: column;
  }

  .about-content {
      flex-direction: column;
      align-items: flex-end;
  }

  #about-header {
      font-size: 3rem;
      padding-bottom: 10px;
      text-align: center;
  }

  .about-image img {
      padding: 10px;
  }

  .about-right {
      justify-content: center;
      align-self: center;
      padding: 10px;
  }

  .about-left {
      justify-content: center;
      align-self: center;
      padding: 0px;
  }

  .contact-form {
      flex-direction: column;
      padding: 10px;
  }

  .container {
    grid-template-columns: repeat(2, auto);
  }
}

@media screen and (min-width: 800px){

  nav li {
  float: left;
  padding-right: 20px;
}

nav ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

  header {
    height: auto;
    align-content: center;
    justify-content: flex-end;
  }

  a {
    text-align: center;
  }

  .container{
    position: fixed;
    display: grid;
    height: 100%;
    margin-bottom: 0;
  }

  .index-navcontainer {
    background-color: #333;
  }

  .grid-container {
    grid-template-columns: repeat(4,auto);
  }

  .header-container {
    height:50%;
  }

  .flexbox-container {
    display: flex;
    flex-wrap: wrap;
  }

  .images-flexbox {
    flex: 0 0 100%;
    width: 100%;
  }

  .footerbox {
    display: grid;
    grid-column: 1;
    grid-row: 4 / span 4;
    overflow: visible;
    text-align: left;
  }

  i {
    color: white;
    width: 10px;
    padding: 10px;
    object-fit: contain;
  }

  .container {
    grid-template-columns: repeat(3, auto);
    overflow: visible auto;
    
  }

@media screen and (prefers-reduced-motion: reduce){
  h3{
      animation: none; /* Removes scroll animation */
  }
}

@media screen and (max-width: 550px) {
  .about-image img {
      display: none;
  }
}

/* Form Stuff */
form {
  border: 3px solid #f1f1f1;
}

legend{ 
  font-size: 125%;
  font-style:italic;
  text-transform: uppercase;
  text-align: center;
}
label{
  display: inline-block;
  margin-right:10px;
  width:15%;
}
input:focus{
  border: 2px green;
  background: lightgrey;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
span{
  margin-left:20%;
  font-family: italic;
  font-weight: bold;
}

textarea{
  width: 100%;
  height: 35vh;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


input[type=checkbox]{
    display:inline;
    width:inherit;
}

input[type=submit] {
  background-color: #38803C;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

input[type=submit]:hover {
  opacity: 0.8;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (min-width: 770px) {
  form{
    width: 80%;
    margin: 0 auto;
  }

  input{
    width:80%;
  }

  textarea{
    width:80%;
    height: 25vh;
 }
 
 div + label{
    line-height: 25vh;
    vertical-align:top;
 }
}


